* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.video {
  width: 20%;
  height: 20%;
  border-radius: 20px;
}
